.fund-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.funding-details{
    width: 18rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem;
    cursor: pointer;
    transition: all .2s;
}
.funding-details:hover {
    box-shadow: 0px 4px 44px 4px rgba(158, 158, 158, 0.25);
}
.yellow {
    background: #FFD249;
    color: black;
}

.light{
    background: rgba(255, 255, 255, 0.72);
    color: black;
}

.fund-number {
    display: flex;
    align-items: baseline;
}

.fund-number p {
    margin-left: 1rem;
}