.home-bg{
    background-color: #090015;
    position: fixed;
    top: 0;
    z-index: -2;
    height: 100vh;
    width: 100vw;
}
.home-image img{
    float: right;
    height: 40rem;
}
.heading{
    margin-left: 2rem;
    font-weight: 900;
    margin-top: 12rem;
    font-size: 70px;
    text-align: left;
}
.para{
    padding-top: 1.5rem;
    margin-left: 2rem;
    font-size: 25px;
}